---
import '@fontsource/paytone-one';
import '@fontsource/sora';
import '@fontsource/source-code-pro'
---

<div id="navbar" class="font-title flex justify-between items-stretch min-h-min bg-white">
    <div class="self-center mx-7 xl:w-[40px] w-[100px]"><img class="w-30 object-center" src="/liftarn_Cat_silhouette.svg"></div>
    <div class="flex items-center text-lg ">
        <a class="xl:m-6 m-14 xl:text-3xl text-5xl hover:text-indigo-400" href="">Contact</a>
        <a href="/howto/" class="xl:m-6 xl:pr-3 m-14 xl:text-3xl text-5xl hover:text-indigo-400" href="">How-To's</a>
    </div>
</div>