---
import '@fontsource/paytone-one';
import '@fontsource/sora';
import '@fontsource/source-code-pro'
import Navbar from '../components/navbar.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/liftarn_Cat_silhouette.svg" />
        <title>How-To's</title>
    </head>
    <body>
        <Navbar></Navbar>
        <div class="flex mx-auto"><h1 class="font-code text-6xl lg:text-4xl text-center mt-44">Coming soon: How-To's and Docs of solutions using Astro, JavaScript, and other dev topics.</h1></div>
    </body>
</html>
