---
import '@fontsource/paytone-one';
import '@fontsource/sora';
import '@fontsource/source-code-pro'
import Navbar from '../components/navbar.astro';
import Modal from '../components/modal.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/liftarn_Cat_silhouette.svg" />
		<title>Crazy Cat</title>
	</head>
	<body class="flex flex-col h-auto">
		<Navbar>
			<label class="relative inline-flex items-center cursor-pointer">
				<input type="checkbox" value="" class="sr-only peer">
				<div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
			</label>
		</Navbar>
		<div id="body-hero" class="
		flex flex-col 
		m-auto my-10 
		text-center 
		justify-center">
			<h1 class="
			bg-gradient-to-r 
			from-indigo-400 
			to-fuchsia-500 
			text-transparent 
			bg-clip-text 
			font-title 
			xl:text-8xl 
			text-9xl 
			drop-shadow">Develop for the future.</h1>

			<div id="contact" class="
			flex flex-col 
			m-auto mt-10">
				<button onclick="{`window.${id}.showModal()`}" class="
				font-title 
				bg-black 
				rounded-xl w-8/9 
				xl:text-2xl text-6xl 
				my-7 p-5 text-white
				hover:bg-indigo-400">Get started</button>
				<input id="email-input"value="name@email.com" type="email" class="
				font-code w-8/9 
				p-4 xl:text-2xl 
				text-5xl 
				bg-gray-100 
				text-black border-2 
				border-indigo-300 rounded-xl">
			</div>
		</div>
		<!-- <div class="font-code text-6xl">crazycat.dev</div> -->
		
	</body>
</html>

<style>
	
</style>