---
import '@fontsource/paytone-one';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/liftarn_Cat_silhouette.svg" />
	</head>
	<body class="transition-opacity ease-in delay-500">
		<header></header>
		<div id="navbar" class="font-title flex justify-between items-stretch bg-white">
			<a class=""href=""><img class="hover:fill-indigo-400 p-5 w-20 h-20 grey-50" src="/liftarn_Cat_silhouette.svg"></a>
			<div class="flex items-center text-lg">
				<a class="mx-10 hover:text-indigo-400" href="">Contact</a>
				<a class="mx-10"href="">Portfolio</a>
			</div>
		</div>
		<div id="body-hero" class="flex flex-col m-auto text-center justify-center">
			<h1 class=" text-indigo-400 font-title text-8xl drop-shadow-2xl">Develop for the future.</h1>
			<code class="m-10 text-4xl drop-shadow-lg">crazycat.dev</code>
		</div>
		<footer></footer>
	</body>
</html>

<style>
	
</style>

<script>
	const hero = document.getElementById("body-hero");

</script>