---
import '@fontsource/paytone-one';
import '@fontsource/sora';
import '@fontsource/source-code-pro'
import Navbar from '../components/navbar.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/liftarn_Cat_silhouette.svg" />
		<title>Crazy Cat</title>
	</head>
	<body class="flex flex-col h-auto">
		<Navbar></Navbar>
		<div id="body-hero" class="flex flex-col m-auto my-10 text-center justify-center">
			<h1 class=" text-indigo-400 font-title xl:text-8xl text-9xl drop-shadow hover:drop-shadow-lg">Develop for the future.</h1>
			<div id="contact" class="flex flex-col m-auto mt-10">
				<button class="font-title bg-black rounded-xl w-8/9 xl:text-2xl text-6xl my-7 p-5 text-white hover:bg-indigo-400">Get started</button>
				<input id="email-input"value="name@email.com" type="email" class="font-code w-8/9 p-4 xl:text-2xl text-5xl bg-gray-100 text-black border-2 border-indigo-300 rounded-xl">
			</div>
		</div>
		<!-- <div class="font-code text-6xl">crazycat.dev</div> -->
	</body>
</html>

<style>
	
</style>